:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
}

h2 {
  font-family: 'Bonheur Royale', cursive;
  font-weight: 700;
  font-size: 4.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}