@use "./variables";

.sidebar-menu {
  width: 4rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(173, 144, 80);
  padding: 0.2rem;
  cursor: pointer;
  transition: right 0.4s;

  &__line {
    width: 100%;
    height: 0.3rem;
    background-color: black;
    box-shadow: 0.2rem 0.3rem 0.6rem rgba(0,0,0, 0.3);
  }

  .toggle &__line {
    margin-left: 0.4rem;
  }

  .toggle &__line-1 {
    transform: rotate(50deg) translate(0.3rem, 0.8rem);
  }

  .toggle &__line-2 {
    opacity: 0;
    visibility: hidden;
  }

  .toggle &__line-3 {
    transform: rotate(-50deg) translate(0.3rem, -0.8rem);
  }
}

.toggle .sidebar-menu {
  right: 5rem;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -25rem;
  background-color: beige;
  transition: right 0.3s;
  z-index: 900;
  box-shadow: -0.8rem 1rem 1rem rgba(0, 0, 0, 0.7);
}

.toggle .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  & h4 {
    font-size: 2.2rem;
  }
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

  & i {
    font-size: 2.2rem;
    margin: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .fa{
    &-facebook:hover {
      background-color: rgba(10, 10, 187, 0.822);
    }
    &-instagram:hover {
      background-color: rgb(177, 74, 91);
    }
    &-twitter:hover {
      background-color: rgb(40, 111, 243)
    }
  }
}


header {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  text-align: center;
  color: rgb(235, 231, 231);
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.692),
      rgba(71, 58, 58, 0.2)
    ),
    url(../../dist/images/tools/header.jpg) center;
  background-image: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > h1 {
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
  }
}

main {
  padding-top: 2rem;
  margin-bottom: variables.$marginSectionSmall;

  .features {
    & > article {
      width: variables.$widthCard;
      padding: 1rem;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: variables.$backgroundColorCard;
      box-shadow: 0.5rem 0.6rem 0.5rem rgba(0, 0, 0, 0.6);
      border-radius: 1.5rem;

      & > h3 {
        margin-bottom: 1rem;
        text-shadow: variables.$boxShadowSmall;
      }

      & > p {
        line-height: 2.2rem;
      }
    }

    .feature__experience {
      margin-bottom: 3rem;
    }
  }

  .offers {
    margin-top: variables.$marginSectionSmall;
    width: variables.$widthCard;
    background-color: variables.$backgroundColorCard;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: variables.$boxShadowMedium;
    border-radius: 1rem;

    & > h3 {
      text-align: center;
      margin-bottom: variables.$fontSizeSectionHeading;
      text-shadow: variables.$textShadowSectionHeading;
    }

    & > article:not(:last-child) {
      margin-bottom: 2.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid black;
    }

    & > article {
      & > h4 {
        margin-bottom: 0.5rem;
      }
    }
  }

  .team {
    margin-top: variables.$marginSectionSmall;
    width: variables.$widthCard;
    margin-left: auto;
    margin-right: auto;

    & > h3 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: variables.$fontSizeSectionHeading;
      text-shadow: variables.$textShadowSectionHeading;
    }

    .person {
      background-color: variables.$backgroundColorCard;
      box-shadow: variables.$boxShadowSmall;
      border-radius: 1rem;

      & img {
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      & > figcaption {
        padding: variables.$paddingCard;

        & > h4 {
          text-align: center;
          margin-bottom: 0.8rem;
        }
      }
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .gallery {
    margin-top: variables.$marginSectionSmall;
    width: variables.$widthCard;
    height: 22rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .navigation {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      &__bar {
        width: 4rem;
        height: 1rem;
        border: 1px solid #fff;
        margin: 0.3rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: whitesmoke;
        }
      }
    }

    input[name="slide"] {
      position: absolute;
      visibility: hidden;
    }

    .slides {
      width: 500%;
      height: 100%;
      display: flex;
    }

    .slide {
      width: 20%;
      transition: 0.6s;
      border: 1px solid black;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    #slide-1:checked ~ .slide-1 {
      margin-left: 0;
    }
    #slide-2:checked ~ .slide-1 {
      margin-left: -20%;
    }
    #slide-3:checked ~ .slide-1 {
      margin-left: -40%;
    }
    #slide-4:checked ~ .slide-1 {
      margin-left: -60%;
    }
  }

  .contact {
    margin-top: variables.$marginSectionSmall;

    &__form {
      display: flex;
      flex-direction: column;
      width: variables.$widthCard;
      margin-left: auto;
      margin-right: auto;
      background-color: variables.$backgroundColorCard;
      padding: 1rem 0.5rem 2rem 0.5rem;
      box-shadow: variables.$boxShadowSmall;

      & > h3 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      & > label {
        font-size: 1.5rem;
      }

      & > input {
        margin-bottom: 1rem;
        border: 1px solid black;
      }

      & > textarea {
        resize: none;
        border: 1px solid black;
      }

      & > a {
        text-align: center;
        margin-top: 1rem;

        & > button {
          width: 10rem;
          height: 2.5rem;
          font-size: 1.5rem;
          font-weight: 700;
          cursor: pointer;
          border-radius: 2rem;
          border: none;
          background-color: rgba(24, 59, 31, 0.644);
          box-shadow: 0.5rem 0.4rem 0.4rem rgba(0, 0, 0, 0.6);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: rgba(24, 59, 31, 0.767);
          }

          &:active {
            transform: translateY(0.2rem);
          }
        }
      }
    }
  }
}

.mapouter {
  margin-top: variables.$marginSectionSmall;

  .gmap_canvas {
    & > iframe {
      width: 100%;
      height: 30rem;
    }
  }
}

.footer {
  text-align: center;
  background-color: variables.$backgroundColorCard;
  padding: 1rem;

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }

  .fab {
    font-size: 3rem;
    cursor: pointer;
  }

  .fa-facebook-square:hover {
    color: #3b5998;
  }

  .fa-instagram-square:hover {
    color: rgb(141, 79, 89);
  }

  .fa-twitter-square:hover {
    color: #00acee;
  }

  &__info {
    font-size: 1.8rem;
  }

  .copyright {
    font-size: 1.4rem;
  }
}
