@use "./variables";

header {
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  text-align: center;
  color: rgb(235, 231, 231);
  background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.692),
      rgba(71, 58, 58, 0.2)
    ),
    url(../../dist/images/tools/header.jpg) center;
  background-image: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > h1 {
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
  }
}

main {
  margin-top: 8rem;
  margin-bottom: variables.$marginSectionSmall;

  .features {
    .feature {
      width: variables.$widthCard;
      padding: 1rem;
      margin: 0 auto;
      text-align: center;
      background-color: variables.$backgroundColorCard;
      box-shadow: 0.5rem 0.6rem 0.5rem rgba(0, 0, 0, 0.6);
      border-radius: 1.5rem;

      & > h3 {
        margin-bottom: 1rem;
        text-shadow: variables.$boxShadowSmall;
      }

      & > p {
        line-height: 2.2rem;
      }

      &__experience {
        margin-bottom: 3rem;
      }
    }
  }

  .offers {
    margin-top: variables.$marginSectionSmall;
    background-color: whitesmoke;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-shadow: variables.$boxShadowMedium;
    border-radius: 1rem;

    & > article:not(:last-child) {
      margin-bottom: 2.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid black;
    }
  }

  .team {
    margin-top: variables.$marginSectionSmall;
    width: variables.$widthCard;
    margin-left: auto;
    margin-right: auto;

    .person {
      background-color: variables.$backgroundColorCard;
      box-shadow: variables.$boxShadowSmall;
      border-radius: 1rem;

      & img {
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      & > figcaption {
        padding: variables.$paddingCard;

        & > h4 {
          text-align: center;
          margin-bottom: 0.8rem;
        }

        & > p {
        }
      }
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
